<div class="vendingMachinePanel">
  <div id="vendingMachineDisplay" class="blackBackground">
    <h4>{{displayMessage}}</h4>
  </div>
  <div id="coinSlot">
    {{coin-slot action="insertCoin"}}
  </div>
  <div id="coins">
    {{vending-machine-coin coinName="quarter" imageLocation="/assets/quarter.png" insertCoin=(action "insertCoin")}}
    {{vending-machine-coin coinName="dime" imageLocation="/assets/dime.png" insertCoin=(action "insertCoin")}}
    {{vending-machine-coin coinName="nickel" imageLocation="/assets/nickel.png" insertCoin=(action "insertCoin")}}
    {{vending-machine-coin coinName="penny" imageLocation="/assets/penny.png" insertCoin=(action "insertCoin")}}
  </div>
</div>
