{{outlet}}
<h3 class="sodaListingHeader">Soda listing for <span id="sodaBrandName">{{sodaBrandModel.sodaBrand.name}}</span>:</h3>
{{#link-to "sodaBrands.sodaBrand.sodas.create" id="createSodaLink"}}{{paper-icon "add-circle" size=1}}{{/link-to}}
{{#paper-content class="md-whiteframe-z1 list-demo"}}
  {{#paper-list}}
    {{#each model as |soda|}}
      {{#paper-item class="md-3-line" param=soda action="purchaseSoda"}}
        <img src={{soda.image}} alt=meh class="md-avatar" action="goToSoda">
        <div class="md-list-item-text">
          <h3>{{soda.name}}</h3>
          <h4>{{soda.formattedPriceDollars}}</h4>
          <p>
            {{soda.description}} {{#link-to "sodaBrands.sodaBrand.soda" soda.id}}More{{/link-to}}
          </p>
        </div>
      {{/paper-item}}
    {{/each}}
  {{/paper-list}}
{{/paper-content}}
