<div class="vendingMachinePanel">
  <div>
    <h4 id="vendingMachineDisplay">{{displayMessage}}</h4>
  </div>
  <div>
    {{#paper-button id="quarter" action="insertQuarter"}}
      <img src="/assets/quarter.png" alt=meh class="coinImage" />
    {{/paper-button}}
    {{#paper-button id="dime" action="insertDime"}}
      <img src="/assets/dime.png" alt=meh class="coinImage" />
    {{/paper-button}}
    {{#paper-button id="nickel" action="insertNickel"}}
      <img src="/assets/nickel.png" alt=meh class="coinImage" />
    {{/paper-button}}
    {{#paper-button id="penny" action="insertPenny"}}
      <img src="/assets/penny.png" alt=meh class="coinImage" />
    {{/paper-button}}
  </div>
</div>
{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#each model as |sodaBrand|}}
      {{#paper-button}}
        {{#link-to "sodaBrands.sodaBrand.sodas" sodaBrand.id}}
          <span>{{sodaBrand.name}}</span>
        {{/link-to}}
      {{/paper-button}}
    {{/each}}
  </div>
{{/paper-toolbar}}
<div>
  {{#link-to "sodaBrands.create" id="createSodaBrandLink"}}{{paper-icon "add-circle" size=1}}{{/link-to}}
</div>
{{outlet}}
{{ember-notify}}
