{{vending-machine-display amountInserted=amountInserted generateNotification=(action "generateNotification")}}
{{soda-shop-toolbar sodaBrands=model}}
<div>
  {{#link-to "sodaBrands.create" id="createSodaBrandLink"}}{{paper-icon "add-circle" size=1}}{{/link-to}}
</div>
{{outlet}}
{{ember-notify}}
